.bg_white {
  position: relative;
  background-color: white;
  height: 100vh;

  .orange {
    background-color: #f15a2b;
    height: 150px;
    border-bottom-right-radius: 180px 20px;
    border-bottom-left-radius: 180px 20px;

    .book {
      color: #ffffff;
      text-align: center;
      margin-bottom: 40px;
    }

    .circle {
      background-color: #ffffff;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      position: relative;
      margin: 0 auto;

      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 60px;
      }
    }
  }
}
