/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
  height: 100%;
  background-color: black;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: unset !important;
}

.mat-form-field-suffix .mat-icon-button:focus {
  outline: none;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
  padding: 0 !important;
}


.mat-form-field-appearance-legacy .mat-form-field-underline {
  border-bottom: 2px solid #cacaca;
}

.mat-form-field-appearance-fill .mat-form-field-underline::before {
  border-bottom: 2px solid #cacaca;
}

.mat-slide-toggle-content {
  white-space: normal !important;
  padding-top: 15px !important;
  line-height: 18px !important;
}

.screen1 {
  width: 360px;
  margin: 0 auto;
}

.text {
  opacity: 0.7;
  font-weight: 400;
}

.blue_color {
  color: rebeccapurple;
  padding-left: 10px;
}

.check_avail {
  background-color: #5200c6;
  color: #ffffff;
  padding: 10px 100px;
  border: 0;
  position: absolute;
  bottom: 10px;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  border-radius: 25px 25px 10px 10px;
  border-top-left-radius: 20px 70px;
  border-top-right-radius: 20px 70px;
}

.calander {
  margin-top: 100px;
}

.mat-form-field {
  width: 100%;
}

.btn:hover {
  color: #ffffff;
}

.check_avail:hover {
  opacity: 1 !important;
}

.outline-0:focus {
  outline: none;
}

.pointer {
  cursor: pointer;
}

.fa_icon {
  font-size: 18px;
  vertical-align: text-bottom;
  margin-right: 5px;
}

.mat-calendar-body-today {
  border-color: orange;
  background-color: orange;
}

.mat-calendar-body-selected {
  background-color: orange;
  color: #fff;
}
