<div class="screen1">
  <div class="bg_white">
    <div class="top_div pt-3 pb-3 text-center">
      <span
        class="float-left pointer outline-0 blue_color"
        [routerLink]="['/home']"
        ><i class="fas fa-chevron-left fa_icon"></i>Back</span
      ><span class="mr-5"><b>Total Availability</b></span>
    </div>
    <div class="pl-3 pr-3 pb-2 box_shadow">
      <p class="text-center pt-3 pb-3 text">
        Tables at following times are available for 3 Guests on 01/10/2020
      </p>
      <div class="text-center">
        <div class="d-inline-block">
          <div class="time small_check3 d-inline-block"></div>
          <span class="ml-2"> Available </span>
        </div>
        <div class="d-inline-block mr-3 ml-3">
          <div class="time small_check2 d-inline-block"></div>
          <span class="ml-2">Not Available </span>
        </div>
        <div class="d-inline-block">
          <div class="time small_check1 d-inline-block">
            <div class="orange_half small_check"></div>
          </div>
          <span class="ml-2"> Table </span>
        </div>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-4">
        <button class="time active">
          <span class="d-block">TIME</span>
          <span class="fs_26">10:30</span>
        </button>
      </div>
      <div class="col-4">
        <button class="time">
          <span class="d-block">TIME</span>
          <span class="fs_26">11:30</span>
        </button>
      </div>
      <div class="col-4">
        <button class="time">
          <span class="d-block">TIME</span>
          <span class="fs_26">12:30</span>
        </button>
      </div>
      <div class="col-4">
        <button class="time">
          <span class="d-block">TIME</span>
          <span class="fs_26">13:30</span>
        </button>
      </div>
      <div class="col-4">
        <button class="time">
          <span class="d-block">TIME</span>
          <span class="fs_26">14:30</span>
        </button>
      </div>
      <div class="col-4">
        <button class="time bg_black">
          <span class="d-block">TIME</span>
          <span class="fs_26">15:30</span>
        </button>
      </div>
      <div class="col-4">
        <button class="time">
          <span class="d-block">TIME</span>
          <span class="fs_26">16:30</span>
        </button>
      </div>
      <div class="col-4">
        <button class="time">
          <span class="d-block">TIME</span>
          <span class="fs_26">17:30</span>
        </button>
      </div>
      <div class="col-4">
        <button class="time pb-0">
          <span class="d-block">TIME</span>
          <span class="fs_26">18:30</span>
          <div class="orange_half"></div>
        </button>
      </div>

      <div class="col-4">
        <button class="time">
          <span class="d-block">TIME</span>
          <span class="fs_26">16:30</span>
        </button>
      </div>

      <div class="col-4">
        <button class="time">
          <span class="d-block">TIME</span>
          <span class="fs_26">17:30</span>
        </button>
      </div>

      <div class="col-4">
        <button class="time pb-0">
          <span class="d-block">TIME</span>
          <span class="fs_26">18:30</span>
          <div class="orange_half"></div>
        </button>
      </div>

      <button class="btn check_avail" [routerLink]="['/details']">Next</button>
    </div>
  </div>
</div>
